@inject Server Server;
@model DualData<App, StrClass>

@{
    App app = Model.Data;

    string appId = Model.Id!;

    Page.Title = $"App 「{app.Settings!.AppName}」 のインスタンスの起動引数の一括設定";
}

<h2 class="title is-4">@Page.Title</h2>

<form method="post">
    <textarea asp-for="Data2" class="textarea is-success" type="text" rows="20"></textarea>
    <p>　</p>
    <button type="submit" class="button is-success">CSV 一括設定の実行</button>
</form>

@*<p>@Html.Raw(Model.Data2.Value._EncodeHtml(true))</p>*@
<p>　</p>
<a class="is-info" asp-action="Status" asp-route-id="@appId" asp-route-mode="@ViewBag.mode">インスタンス一覧に戻る</a>
