@inject Server Server;
@model DualData<App, Instance>;

@{
    App app = Model.Data;
    Instance inst = Model.Data2;
    Page.Title = $"App 「{app.Settings!.AppName}」 のインスタンス 「{inst.HostName}」({inst.Guid}) の情報";

}

<h2 class="title is-4">@Page.Title</h2>

<pre><code class="language-json">@Html.Raw(inst._ObjectToJson())</code></pre>
