<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="test" value="https://lts-nuget-archive2.dn.ipantt.net/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <test>
        <add key="username" value="nuget_archive" />
        <add key="cleartextpassword" value="PublicNuGetArchive_2022" />
        <add key="validauthenticationtypes" value="basic" />
    </test>
</packageSourceCredentials>
</configuration>

