@{
    ViewData["Title"] = "Test Page";
}

<div style="font-family: Consolas">
    <p>　</p>
    <p>@DtOffsetNow._ToDtStr(true)</p>
    <p>　</p>
    <p><b>Is HTTPS:</b> @Context.Request.IsHttps.ToString()</p>
    <p>　</p>
    <p><b>Local Endpoint:</b> [@Context.Connection.LocalIpAddress!._UnmapIPv4().ToString()]:@Context.Connection.LocalPort.ToString()</p>
    <p><b>Remote Endpoint:</b> [@Context.Connection.RemoteIpAddress!._UnmapIPv4().ToString()]:@Context.Connection.RemotePort.ToString()</p>
    <p>　</p>
    @{
        foreach (var h in Context.Request.Headers.Where(x => x.Key._IsSamei("cookie") == false))
        {
            string tmp = $"<b>{h.Key._EncodeHtml()}</b>: {((string)h.Value)._EncodeHtml()}";
            <p>@Html.Raw(tmp)</p>
        }
    }
</div>

