@using IPA.Cores.Basic;
@using IPA.Cores.Helper.Basic;
@using static IPA.Cores.Globals.Basic;

@using IPA.Cores.Codes;
@using IPA.Cores.Helper.AspNet;
@using static IPA.Cores.Globals.AspNet;

@model EasyCookieAuthModel

@{
    ViewData["Title"] = "ログイン";
}

<p>　</p>
<form asp-action="Index">
    <div class="box">
        <div class="content">
            @if (EasyCookieAuth.LoginFormMessage.Value._IsFilled())
            {
                <p>@EasyCookieAuth.LoginFormMessage.Value</p>
            }
            <p>ユーザー名:</p>
            <input asp-for="Username" class="input is-info" />
            <p></p>
            <p>パスワード:</p>
            <input asp-for="Password" type="password" class="input is-info" />
            <input type="hidden" asp-for="ReturnUrl" />
            <p></p>
            @if (Model.ErrorStr._IsFilled())
            {
                <div class="notification is-warning">
                    @Model.ErrorStr
                </div>
                <p></p>
            }
            <input class="button is-success" type="submit" value="ログイン">
        </div>
    </div>
</form>

